<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.mgmg22demo">
    <!-- 浮动通知权限 -->
    <!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <!-- 通知栏权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/util_ic_charles_notification"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WyDemoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>